
<nav id="app-navbar">
  <div id="toggle-menu"><button class="toggle-button" (click)="toggleMenu = !toggleMenu">Toggle</button></div>
  <div id="title">{{title}}</div>
  <div id="profile-menu"><button class="profile-button">Profile</button></div>
</nav>
<div *ngIf="toggleMenu">
  <aside>
    <div id="side-menu">
      <ul>
        <li routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        ><a [routerLink]="'/accounts'">Accounts</a></li>
        <li>Income</li>
        <li>Expense</li>
        <li>Overview</li>
      </ul>
    </div>
  </aside>
</div>
<section>
  <article>
      <h2>Manage your Expense using our app</h2>
      <p>There are four categories to manage our Expense, i.e. 
       <b>1.  Accounts  2. Income 3. Expense  4. Overview</b> 
       </p>
    
       <h3>Navigate through toggle menu.</h3>
       <p>Or</p>
       <h3>Click each one to view details and add the necessary.</h3>
  </article>
</section>
